1. mysql 연결하기            연결자=pymysql.commect(연결옵션)
2. 커서 생성하기             커서이름=연결자.cursor()
3. 테이블 만들기             커서이름.execute("CREATE TABLE 문장")
4. 데이터 입력하기           커서이름.execute("INSERT INTO 문장")
5. 입력한 데이터 저장하기    연결자.commit()
6. mysql 연결 종료하기       연결자.close()

In [1]:
import pymysql

In [2]:
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='soloDB',charset='utf8')
cur=conn.cursor()
# cur.execute("DROP TABLE userTable")

In [4]:
cur.execute("CREATE TABLE userTable (id char(4),userName char(15), email char(20),birthYear int)")

0

In [6]:
cur.execute("INSERT INTO userTable Values('hong','홍지윤','hong@naver.com',1996)")
cur.execute("INSERT INTO userTable Values('kim','김태연','kim@daum.net',2011)")
cur.execute("INSERT INTO userTable Values('star','별사랑','star@oaran.com',1990)")
cur.execute("INSERT INTO userTable Values('yang','양지은','@gmail.com',1993)")

1

In [7]:
cur.execute("SELECT * FROM userTable")
result=cur.fetchall()
print(result)

(('hong', '홍지윤', 'hong@naver.com', 1996), ('kim', '김태연', 'kim@daum.net', 2011), ('star', '별사랑', 'star@oaran.com', 1990), ('yang', '양지은', '@gmail.com', 1993))

In [8]:
conn.commit()
# conn.close()

In [ ]:
import pymysql

In [8]:
# 전역변수 선언부
conn, cur= None,None
data1,data2,data3,data4="","","",""
sql=""

In [9]:
#메인코드
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='soloDB',charset='utf8')
cur=conn.cursor()

In [27]:
while(True):
    data1=input("사용자 ID==>")
    if data1 == "":
        break;
    data2=input("사용자 이름==>")
    data3=input("사용자 이메일==>")
    data4=input("사용자 출생연도==>")
    sql="INSERT INTO userTable VALUES('"+data1+"','"+data2+"','"+data3+"',"+data4+")"
    cur.execute(sql)
    
conn.commit()
conn.close()

In [8]:
# 전역변수 선언부
conn, cur= None,None
data1,data2,data3,data4="","","",""
row=None

#메인코드
conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='soloDB',charset='utf8')
cur=conn.cursor()

cur.execute("SELECT * FROM userTable")

print("사용자ID   사용자이름   이메일   출생연도")
print("------------------------------------------")

while(True):
    row=cur.fetchone()
    if row==None:
        break
    data1=row[0]
    data2=row[1]
    data3=row[2]
    data4=row[3]
    print("%5s    %15s    %20s    %d" %(data1,data2,data3,data4))
conn.close()

사용자ID   사용자이름   이메일   출생연도
------------------------------------------

In [1]:
from tkinter import *

In [2]:
root=Tk()
root.title("혼공 GUI 연습")
root.geometry("400x200")

''

In [3]:
root.mainloop()

In [4]:
root=Tk()
root.geometry("300x100")

label1=Label(root,text="혼공 SQL은")
label2=Label(root,text="쉽습니다.",font=("궁서체",30),bg="blue",fg="yellow")

label1.pack()
label2.pack()

root.mainloop()

In [5]:
from tkinter import *
from tkinter import messagebox

def clickButton():
    messagebox.showinfo("버튼클릭","버튼을 눌렀습니다.")
    
root=Tk()
root.geometry("200x200")

button1=Button(root,text="여기를 클릭하세요",fg='red',bg="yellow",command=clickButton)
button1.pack(expand=1)

root.mainloop()

In [9]:
root=Tk()

button1=Button(root,text="혼공1")
button2=Button(root,text="혼공2")
button3=Button(root,text="혼공3")

button1.pack(side=TOP)
button2.pack(side=TOP)
button3.pack(side=BOTTOM)

root.mainloop()

In [11]:
root=Tk()

button1=Button(root,text="혼공1")
button2=Button(root,text="혼공2")
button3=Button(root,text="혼공3")

button1.pack(side=TOP,fill=X,padx=10,pady=10)
button2.pack(side=TOP,fill=X,padx=10,pady=10)
button3.pack(side=TOP,fill=X,padx=10,pady=10)

root.mainloop()

In [10]:
root=Tk()
root.geometry("200x250")

upFrame=Frame(root)
upFrame.pack()
downFrame=Frame(root)
downFrame.pack()

editBox=Entry(upFrame,width=10,)
editBox.pack(padx=20,pady=20)

listbox=Listbox(downFrame,bg='yellow');
listbox.pack()

listbox.insert(END,"하나")
listbox.insert(END,"둘")
listbox.insert(END,"셋")

root.mainloop()

In [9]:
import pymysql
from tkinter import *
from tkinter import messagebox

#메인 코드부
def insertData():
    conn, cur= None,None
    data1,data2,data3,data4="","","",""
    sql=""

    conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='soloDB',charset='utf8')
    cur=conn.cursor()

    data1=edt1.get(); data2=edt2.get();data3=edt3.get();data4=edt4.get()
    sql="INSERT INTO userTable VALUES('"+data1+"','"+data2+"','"+data3+"',"+data4+")"
    cur.execute(sql)

    conn.commit()
    conn.close()
    
    messagebox.showinfo("성공","데이터 입력 성공")
    
def selectData():
    strData1,strData2,strData3,strData4=[],[],[],[]
    
    conn=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='soloDB',charset='utf8')
    cur = conn.cursor()
    cur.execute("SELECT * FROM userTable")
    
    strData1.append("사용자 ID"); strData2.append("사용자 이름"); strData3.append("사용자 이메일"); strData4.append("사용자 출생연도")
    strData1.append("---------"); strData2.append("---------"); strData3.append("---------"); strData4.append("---------")
    
    while(True):
        row=cur.fetchone()
        if row==None:
            break;
        strData1.append(row[0]);  strData2.append(row[1]);  strData3.append(row[2]);  strData4.append(row[3])
    listData1.delete(0,listData1.size()-1); listData2.delete(0,listData2.size()-1); listData3.delete(0,listData3.size()-1); listData4.delete(0,listData4.size()-1)
    
    for item1,item2,item3,item4 in zip (strData1,strData2,strData3,strData4):
        listData1.insert(END,item1); listData2.insert(END,item2); listData3.insert(END,item3); listData4.insert(END,item4)
    
    conn.close()

In [11]:
root=Tk()
root.geometry("600x300")
root.title("완전한 GUI 응용 프로그램")

edtFrame=Frame(root);
edtFrame.pack()
listFrame=Frame(root)
listFrame.pack(side=BOTTOM,fill=BOTH,expand=1)

edt1=Entry(edtFrame,width=10);  edt1.pack(side=LEFT,padx=10,pady=10)
edt2=Entry(edtFrame,width=10);  edt2.pack(side=LEFT,padx=10,pady=10)
edt3=Entry(edtFrame,width=10);  edt3.pack(side=LEFT,padx=10,pady=10)
edt4=Entry(edtFrame,width=10);  edt4.pack(side=LEFT,padx=10,pady=10)

btnInsert=Button(edtFrame,text="입력",command=insertData)
btnInsert.pack(side=LEFT,padx=10,pady=10)
btnSelect=Button(edtFrame,text="조회",command=selectData)
btnSelect.pack(side=LEFT,padx=10,pady=10)

listData1=Listbox(listFrame,bg="yellow");
listData1.pack(side=LEFT,fill=BOTH,expand=1)
listData2=Listbox(listFrame,bg="yellow");
listData2.pack(side=LEFT,fill=BOTH,expand=1)
listData3=Listbox(listFrame,bg="yellow");
listData3.pack(side=LEFT,fill=BOTH,expand=1)
listData4=Listbox(listFrame,bg="yellow");
listData4.pack(side=LEFT,fill=BOTH,expand=1)

root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\taehwan\AppData\Local\Temp\ipykernel_6592\2396738487.py", line 16, in insertData
    cur.execute(sql)
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\cursors.py", line 148, in execute
    result = self._query(query)
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\cursors.py", line 310, in _query
    conn.query(q)
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 548, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 775, in _read_query_result
    result.read()
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 1156, in read
    first_packet = self.connection._read_packet()
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 725, in _read_packet
    packet.raise_for_error()
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\Users\taehwan\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1")